<p class="pull-right">
<%= link_to new_log_path, class: "btn btn-primary btn-xs" do %>
  <span class="glyphicon glyphicon-plus"></span> New Log
<% end %>
</p>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="col-md-1">No</th>
      <th class="col-md-1">Date</th>
      <th class="col-md-3">Callsign - Operator</th>
      <th class="col-md-1">Frequency</th>
      <th class="col-md-1">Mode</th>
      <th class="col-md-1">His/Her RST</th>
      <th class="col-md-1">My RST</th>
      <th class="col-md-2">Country</th>
      <th class="col-md-1">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each_with_index do |log,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= log.date_on.strftime("%d/%m/%Y") %></td>
      <td><%= log.callsign.upcase %> - <%= log.operator_name.titleize %></td>
      <td><%= log.frequency %> MHz</td>
      <td><%= log.mode.upcase %></td>
      <td><%= log.his_rst %></td>
      <td><%= log.my_rst %></td>
      <td><%= log.country.titleize %></td>
      <td>
        <div class="btn-group btn-group-xs btn-group-justified">
          <%= link_to log_path(log), class: "btn btn-primary", "data-toggle" => "tooltip", "data-placement" => "top", title: "Click to view" do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
          <%= link_to edit_log_path(log), class: "btn btn-warning", "data-toggle" => "tooltip", "data-placement" => "top", title: "Click to edit" do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to log_url(log), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", "data-toggle" => "tooltip", "data-placement" => "top", title: "Click to delete" do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
